<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="HOMEURL" value="http://localhost/"></add>
    <add key="PHOTOPATH" value="E:\\领先未来办公平台\\LF\\Website\\Photos\\" />
    <add key="SelectRate1" value="50" />
    <add key="SelectRate2" value="30" />
    <add key="SelectRate3" value="20" />
    <add key="Mobile" value="13120030062,13691113320,18226789510,15701642800,18600880536" />
  </appSettings>
  <connectionStrings>
    <add name="InsertconnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.10;Initial Catalog=Leading;Persist Security Info=True;User ID=sa;Password=XS12345^;  Min Pool Size=10;Max Pool Size=50;Connection Timeout=15;Application Name=Leading.ERP " />
    <add name="SelectconnectionString1" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.146;Initial Catalog=Leading;Persist Security Info=True;User ID=sa;Password=XS12345^;  Min Pool Size=10;Max Pool Size=50;Connection Timeout=15;Application Name=Leading.ERP " />
    <add name="SelectconnectionString2" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.138;Initial Catalog=Leading;Persist Security Info=True;User ID=sa;Password=XS12345^;  Min Pool Size=10;Max Pool Size=50;Connection Timeout=15;Application Name=Leading.ERP" />
    <add name="SelectconnectionString3" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.136;Initial Catalog=Leading;Persist Security Info=True;User ID=sa;Password=XS12345^;  Min Pool Size=10;Max Pool Size=50;Connection Timeout=15;Application Name=Leading.ERP " />
  </connectionStrings>
</configuration>
